.list-page {
    padding: 42px calc(50% - 300px);
}

.list-page__title {
    font-size: 34px;
    margin-bottom: 26px;
}

.list-page ul li {
    font-size: 18px;
}

.movie-card {
    padding: 15px;
    background-color: beige;
    margin: 10px;
    border-radius: 10px;
}